.has-text-primary {
    color: #006a8d !important;
}

.is-primary {
    background-color: #006a8d !important;
}

.input, .select select, .textarea {
    border-color: #006a8d;
}

.input:focus, .select select:focus, .textarea:focus {
    border-color: #006a8d;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.select:not(.is-multiple):not(.is-loading)::after {
    border-color: #006a8d;
}

a {
    color: #006a8d;
}

a:hover {
    color: #006a8d;
}

.hero.is-primary {
    background-image: linear-gradient(
            141deg, #00535a, #006a8d 71%, #0061a7);
}

@media print, screen and (min-width: 769px) {
    .card-content.form:after {
        position: absolute;
        top: 0;
        left: calc(100% - 2px);
        content: "";
        height: 100%;
        width: 10em;
        z-index: 2;
        background-image: linear-gradient(
                100deg, #fff, #fff 50%, transparent 0);
    }

    html {
        --scrollbarBG: #2a363f;
        --thumbBG: #006a8d;
    }

    *::-webkit-scrollbar {
        width: 7px;
    }

    * {
        scrollbar-width: thin;
        scrollbar-color: var(--thumbBG) var(--scrollbarBG);
    }

    *::-webkit-scrollbar-track {
        background: var(--scrollbarBG);
    }

    *::-webkit-scrollbar-thumb {
        background-color: var(--thumbBG);
        border-radius: 6px;
        border: 2px solid var(--scrollbarBG);
    }

    .menu span {
        word-break: break-word;
    }
}

form.card-content {
    padding: 2.5rem 2rem;
}

.column.card {
    box-shadow: none;
}

.equal-height {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.equal-height .card-content {
    flex: auto;
}

.hero-body .container {
    box-shadow: 1rem 2rem 2rem rgb(0 0 0 / 20%);
}

.b-steps .steps .step-items .step-item.is-active .step-marker {
    background-color: #fff;
    border-color: #006a8d;
    color: #006a8d;
}

.b-steps .steps .step-items .step-item:before {
    background-image: linear-gradient(
            270deg, #dbdbdb 50%, #006a8d 0);
    background-size: 200% 100%;
    background-position: 100% 100%;
}

.b-steps .steps .step-items .step-item::before, .b-steps .steps .step-items .step-item::after {
    background: -webkit-gradient(linear, right top, left top, color-stop(50%, #dbdbdb), color-stop(50%, #006a8d));
    background: linear-gradient(to left, #dbdbdb 50%, #006a8d 50%);
    background-size: 200% 100%;
    background-position: right bottom;
}

.b-steps .steps .step-items .step-item.is-previous .step-marker {
    color: white;
    background-color: #48c78e;
}

.step-item .title {
    color: black !important;
}

.b-radio.radio input[type=radio]:checked + .check {
    border-color: #006a8d !important;
}

.b-radio.radio input[type=radio] + .check:before {
    background-color: #006a8d;
}

.b-radio.radio:hover input[type=radio]:not(:disabled) + .check {
    border-color: #006a8d;
}

.b-radio.radio input[type=radio]:focus:checked + .check {
    -webkit-box-shadow: 0 0 0.5em rgb(0 106 141 / 80%);
    box-shadow: 0 0 0.5em rgb(0 106 141 / 80%);
}


.section {
    text-align: left;
}

.section > .title {
    border-bottom: 3px solid rgb(0, 106, 141);
    line-height: 2rem;
}

main {
    position: relative;
    min-height: 100%;
    padding-bottom: 5.5em;
}

main .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

@media screen and (min-width: 1024px) {
    .main {
        padding-left: 4.5rem;
    }

    main .footer {
        padding-right: 1.5rem !important;
        width: calc(100% - 4.5rem) !important;
    }
}

main .is-fullheight {
    height: 100% !important;
}

html {
    height: 100%;
    width: 100vw !important;
    -webkit-tap-highlight-color: transparent;
}

body {
    height: 100%;
}

body.has-navbar-fixed-top, html.has-navbar-fixed-top {
    padding-top: 3.25rem;
}

.columns {
    margin: 0 !important;
}

.is-active {
    display: block;
}

.loading-overlay .loading-icon {
    position: unset;
}

.tabs li.is-active a {
    border-bottom-color: #006a8d;
    color: #006a8d;
}

.b-tabs .tabs li a:focus {
    border-bottom-color: #006a8d;
}

.datepicker .datepicker-table .datepicker-body .datepicker-cell.is-today {
    border: solid 1px rgba(0, 106, 141, 0.5);
}

.datepicker .datepicker-table .datepicker-body .datepicker-cell.is-selected.is-first-selected {
    background-color: #006a8d;
}

.datepicker .datepicker-table .datepicker-body .datepicker-cell.is-selected.is-within-selected {
    background-color: rgba(0, 106, 141, 0.5);
}

.datepicker .datepicker-table .datepicker-body .datepicker-cell.is-selected.is-last-selected {
    background-color: #006a8d;
}

.pagination-previous:focus, .pagination-next:focus, .pagination-link:focus {
    border-color: #006a8d;
}

.datepicker .dropdown .input[readonly]:focus, .datepicker .dropdown .input[readonly].is-focused, .datepicker .dropdown .input[readonly]:active, .datepicker .dropdown .input[readonly].is-active, .datepicker .dropdown-trigger .input[readonly]:focus, .datepicker .dropdown-trigger .input[readonly].is-focused, .datepicker .dropdown-trigger .input[readonly]:active, .datepicker .dropdown-trigger .input[readonly].is-active {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.button.is-primary:focus:not(:active), .button.is-primary.is-focused:not(:active) {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.pagination-link.is-current {
    background-color: #006a8d;
    border-color: #006a8d;
}